<%= render 'shared/dashboard' %>

<div id="list">
  <div class="card text-center" id="list-container">
    <div id="list-header">
      <ul>
        <li @click="select('reading')" v-bind:class="{'active': show == 'reading'}" class="tab-label" id="initial">
          読書中
        </li>
        <li @click="select('finished')" v-bind:class="{'active': show == 'finished'}" class="tab-label">
          既読
        </li>
      </ul>
    </div>
    <div class="card-body" id="bookshelf-body">
      <%#-----------読書中-------------%>
      <div class="tab-content">
        <div class="th-container">
          <ul>
            <li>進捗</li>
            <li>タイトル</li>
            <li>著者</li>
            <li></li>
          </ul>
        </div>
        <div v-if="show == 'reading'">
          <div class="td-container">
            <%= render partial: 'books/book', collection: @reading, as: :book %>
          </div>
        </div>
        <div v-if="show == 'finished'">
          <div class="td-container">
            <%= render partial: 'books/finished', collection: @finished, as: :book %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>