@import "bootstrap";

/* カラー設定 */

$header-color: #679ab8;
$header-font-color: #fbf6fa;
$font-color: #202020;
$body-color: #f5f5f5;
$table: #fbf6fa;
$logo-color: #b3424a;

*, a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: $body-color;
}

/* main */

.main {
  min-height: calc(100vh - 200px);
}

.test {
  color: blue;
}

/* header */

.header {
  background-color: $header-color;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 10px;


    .header-logo {
      font-size: 1.8em;
      a {
        color: #fbf6fa;
        span {
          // color: #beadba;
          color: $logo-color;
          display: inline-block;
          font-size: 1.3em;
          transform: rotate(-5deg);
        }
      }
    }

    .search-box {
      // ヘッダー検索窓の設定
      #header-item {
        margin: 0 auto;
        display: flex;
        gap: 10px;

        #header-search-field {
          background-color: #fbf6fa;
          width: 300px;
        }
      }

      #header-item-error {
        margin: 0 auto;
        display: flex;
        gap: 10px;

        #header-search-field {
          width: 300px;
          border: 1px solid red;
        }

        ::placeholder {
          color: red;
          opacity: 0.5;
        }
      }
    }

    .header-nav {
      display: flex;
      gap: 20px;
      a {
        color: #fbf6fa;
      }
    }
  }
}

/* フッター */
.footer {
  width: 100%;
  height: 150px;
  background-color: $header-color;
  color: $header-font-color;

  .footer-item {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    a {
      color: $header-font-color;
    }
  }

  .copy-right {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }

}

/* search-page */

.search-container {
  display: grid;
  // 1fr -> 各要素の表示比率を同じ割合に設定, minmax -> 最小値と最大値を決める minmax(最小値, 最大値)で指定
  // auto-fit -> 画面サイズでカラム数を変更
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img {
      img {
        width: 130px;
        height: 205px;
        cursor: pointer;
      }
    }
    .text {
     cursor: pointer;
    }
  }
}







// record/index.html.erb タイムライン
.timeline {
  width: 40%;
  margin: 10px auto;
  a {
    text-decoration: none;
    color: black;

    .record-item {
      min-height: 150px;

      .record-header {
        .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 10px;
        }
      }
      .record-footer {
        text-align: right;
      }
    }
  }
}

// record/show.html.erb 記録詳細
.reply-timeline-container {
  .reply-card {
    margin: 10px auto;

    .reply-header {
      background-color: $header-color;
      color: $header-font-color;
    }

    .reply-body {
      position: relative;

      .reply-footer {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  // reply-form 返信フォーム
  .reply-form {
    width: 30rem;
    margin: 0 auto;
  }
}


/* record/_form.html.erb record/_review_form.html.erb 星レビュー */
// クイック更新のフォーム
.post-form-container {
  margin-bottom: 20px;

  header {
    background-color: $header-color;
    color: $header-font-color;
    p {
      padding: 5px;
      margin: 0;
    }
  }
  .post-form-wrapper {
    background-color: $gray-200;
    padding: 10px;
    .post-form {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      .done-up-to {
        display: flex;
        align-items: center;
        gap: 30px;
        strong {
          float: left;
          align-items: center;
        }
        .form-group {
          input[type=number] {
            width: 90px;
            margin: 10px auto;
          }
          p {
            display: inline-block;
            margin: 0 auto;
          }

        }
      }
      .content {
        strong {
          float: left;
        }
        textarea {
          width: 100%;
          min-height: 100px;
        }
      }
      .link-group {
        display: flex;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

// レビューのフォーム
.review-form-container {
  margin-bottom: 20px;

  header {
    background-color: $header-color;
    color: $header-font-color;
    p {
      padding: 5px;
      margin: 0;
    }
  }
  .post-form-wrapper {
    background-color: $gray-200;
    padding: 10px;
    .post-form {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      .content {
        strong {
          float: left;
        }
        input[type=text] {
          width: 100%;
        }
        textarea {
          width: 100%;
          min-height: 100px;
        }
        .label {
          width: 70px;
          height: 30px;
          margin: 0;
        }
        .rating-container {
          width: 150px;
          height: 50px;
          white-space: nowrap;
        }
      }
      .link-group {
        display: flex;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

// 星レビューのフォーム
.rating {
  input[type=range] {
    opacity: 0.1;
  }
}

/* record/_form.html.erb record/_review_form.html.erb */ // ここまで

/* status container */

.status-container {
  margin: 30px;
  height: 300px;
  position: relative;
  .profile {
    width: 150px;
    height: 200px;
    margin: 30px;
  }

  .mypage {
    position: absolute;
    top: 50%;
    right: 0;
    a {
      width: 150px;
    }
  }
}

/* ユーザーページ　コントローラー */
.controller {
  margin: 0 30px 30px 30px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px 0;

    li {
      margin: 0 5px;

      &.active {
        background: linear-gradient(transparent 90%, $header-color 50%);
      }
      a {
        text-decoration: none;
        color: $header-color;
      }
    }
  }
}

/* コメント　タイムライン */
.timeline {
  .record-card {
    width: 30%;
    min-height: 150px;
  }
}

/* record-edit */

.record-edit-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  #record-edit-form {
    width: 80px;
  }

  p {
    margin: 0;
  }
}

/* レビュー一覧ページ */

/* 本棚　詳しく見る */

.book-info-top {
  display: flex;

//  .book-info-title {

//  }
}


.book-info-left {
  li {
    list-style: none;
    margin: 5px;

    &:nth-child(1) {
      margin-top: 5px;
    }

    & > h5 {
      display: inline-block;
    }

    .detail-form {
      width: 80%;
      height: 100%;
      margin-bottom: 5px;
      display: inline-block;
    }
  }
}


/* 検索結果ページ　モーダルウィンドウ */
.modal-block {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:10;
}

button{
  width: 300px;
  height: 50px;
  line-height: 50px;
  background-color: #2675BC;
  color: #fff;
  border: transparent;
  transition: .5s;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  z-index: 10;

  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;

    .modal-header {
      background-color: $header-color;
      color: $header-font-color;
      padding: 5px;
      border: 0;
      border-radius: 5px 5px 0 0;
    }

    .modal-content{
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: relative;
      padding: 40px;
      border: 0;
      border-radius: 0 0 5px 5px;


      // モーダルの中身
      .modal-content-left {
        margin-bottom: 5px;
        img {
          width: 120px;
          height: 180px;
        }
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  animation-name: fade;
  animation-duration: .3s;
}

.fade-leave-active {
  animation-direction: reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* top page */
.toppage-container {
  .top {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: 50%;
    background-image: url('toppage-image.jpg');
    position: relative;

    .top-content {
      position: absolute;
      right: 10%;
      margin: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: $header-font-color;

      h1 {
        a {
          color: $header-font-color;
        }
      }

      p {
        text-align: right;
      }
      .form-link {
        a {
          margin: 20px;
          border: 1px solid $header-font-color;
        }

      }
    }

  }
}

// トップページ　ランキング
.ranking-container {
  margin: 30px;
  min-height: 300px;
  .ranking-wrapper {
  display: flex;

    .ranking-item {
      width: 8rem;
      height: 16rem;
      margin: 5px;

      .card-body {

        p {
          margin: 0;
          font-size: 0.7rem;
        }
      }
    }
  }
}

/* relationships/_show_follow.html.erb */
.follow-container {
  width: 50%;
  margin: 30px auto;
  .follow-card {
    height: 150px;
  }
}

/* devise/sessions/new.html.erb */
// ログインページ
.form-container {
  width: 50%;
  max-width: 500px;
  margin: 30px auto;

  .form-item {
    margin: 20px;

    h2 {
      text-align: center;
    }

    input[type="submit"] {
      background-color: $header-color;
    }
  }
}

/* user/show.html.erb user/finished_books.html.erb */
// 本棚
.bookshelf-container {
  margin: 30px auto;
  width: 50%;

  .bookshelf-tab {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        background-color: darkgray;
        padding: 10px 50px;
        margin-right: 5px;
        border-radius: 5px 5px 0 0;
        color: $dark;
      }

      & .active {
        background-color: #fff;
        color: $header-color;
        border-top: 5px solid $header-color;
      }
    }
  }

  .bookshelf-body {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 5px 5px 5px;
    .books-wrapper {
      min-height: 500px;

    }
  }
}

/* users/_reaging_book.html.erb users/_finished_book.html.erb 本棚 */
// reading_book
.reading_book {
  margin-bottom: 20px;
  header {
    display: flex;
    gap: 50px;
    background-color: $header-color;
    color: $header-font-color;
    align-items: center;
    p {
      margin: 5px;
    }
  }

  .body {
    background-color: $gray-200;
    min-height: 250px;
    .wrapper {
      display: flex;
      margin: 10px;

      .right-side {
        margin: 0 10px;

        a {
          margin: 5px;
        }
      }

      .image-content {
        img {
          width: 100px;
          height: 150px;
        }
      }
    }
  }
}

// finished_book
.finished_book {
  margin-bottom: 20px;
  header {
    display: flex;
    gap: 50px;
    background-color: $header-color;
    color: $header-font-color;
    align-items: center;
    p {
      margin: 5px;
    }
  }

  .body {
    background-color: $gray-200;
    min-height: 250px;
    .wrapper {
      display: flex;
      margin: 10px;

      .right-side {
        margin: 0 10px;
      }
      .image-content {
        img {
          width: 100px;
          height: 150px;
        }
      }
    }
  }
}

// 本棚　読書進捗円グラフ
.chart-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 80px;
    height: 80px;
    transform: rotate(-90deg);
  }

  circle {
    fill: none;
    stroke-width: 10;
    stroke: #f3f3f3;
    stroke-dasharray: 220;
    stroke-dashoffset: 0;
    stroke-linecap: round;

  }
  .line {
    stroke: #03a9f4;
    animation: circleAnime 1s forwards;
  }

  @keyframes circleAnime {
    0% {
      stroke-dasharray: 0 220;
    }
    100% {
      stroke-dasharray: 220 220;
    }
  }
  .number {
    position: absolute;
    .percent {
      display: block;
      margin: 0;
      span {
        font-size: 1.2em;
      }
    }
    .page-number {
      display: none;
      margin: 0;
      font-size: 0.7em;
      span {
        font-size: 1.2em;
      }
    }
  }
}
.chart-content:hover {
  .percent {
    display: none;
  }
  .page-number {
    display: block;
  }
}
/* users/_reaging_book.html.erb users/_finished_book.html.erb 本棚 */ // ここまで
