<footer class="footer">
  <div class="footer-item">
    <%= link_to "ReaDiaryについて", "#" %>
    <%= link_to "利用規約", "#" %>
    <%= link_to "プライバシーポリシー", "#" %>
  </div>
  <div class="copy-right">
    <p>© 2023 ReaDiary</p>
  </div>
</footer>
